body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(180, 172, 172);
    width: 300px;
    height: 550px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0px 5px 30px rgba(255, 255, 255, 0.438);
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header-left {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.header-left2 {
    width: 33px;
    height: 33px;
    background-color: gold;
    border-radius: 100%;
}

.header-left2 i {
    color: rgb(0, 0, 0);
    margin-left: 9px;
    margin-top: 7px;
    font-size: 18px;
}

.header p {
    margin-top: 25px;
    font-size: 18px;
    font-family: sans-serif;
}

.header-right {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.header-right2 {
    width: 33px;
    height: 33px;
    background-color: gold;
    border-radius: 100%;
}

.header-right2 i {
    color: rgb(0, 0, 0);
    margin-left: 9px;
    margin-top: 8px;
}

.container img {
    margin-left: 50px;
    margin-top: 20px;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transition: all 2s;
}

.animate {
    animation: als 4.5s infinite linear;
}

@keyframes als {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container h3 {
    margin-left: 100px;
    margin-top: 30px;
    font-family: cursive;
    font-weight: 400;
    font-size: 19px;
}